<div class="full-screen p-8 flex-col md:p-16 bg-better-yellow 
md:bg-[url('/static/img/i-cant-believe-its-not-better002.webp')]
bg-[url('/static/img/i-cant-believe-its-not-better002mobile.webp')]
bg-no-repeat bg-cover bg-left">
    <div class=" text-white md:w-1/2 self-end max-sm:mt-[2em]">
      {% svg 'static/img/i-cant-believe-its-not-better.svg' %}
    </div>
    <h1 class="text-left text-3xl md:text-2xl mt-4 text-white bg-better-purple md:w-1/2 p-5 self-end align-bottom max-sm:mt-[8em]">
      Imagine Twitter as a public good, not owned by one person
    </h1>
</div>
