<div
  class="full-screen p-8 md:p-16 flex-row bg-better-purple text-better-teal"
  id="imagine"
>
  <div class="md:w-1/2">
    <h1 class="text-left text-5xl">Imagine a platform where...<br /></h1>
    <h1
      class="text-left text-5xl absolute w-5/6 md:w-[50vw]"
      x-init="
      typewriter = new Typewriter($el, {
        strings: [
          'you don\'t have to worry about trolls',
          'you can resolve disputes respectfully',
          'you have a say in how it works',
          'the algorithm doesn\'t determine your experience',
          'you own and control your personal data',
        ].map(x => [Math.random(), x]).sort(([a], [b]) => a - b).map(([_, x]) => x),
        loop: true,
        delay: 40,
        autoStart: true,
        pauseFor: 1000,
      });"
    >
      |
    </h1>
  </div>

  <div class="mt-64 md:mt-0 md:w-1/2">
    <img
      src="/static/img/imagine.webp"
      alt="Cute little yellow bird that has big plans for organizing"
    />
  </div>
</div>
