<div
  class="w-screen h-2/4 flex p-4 md:p-16 flex-row bg-better-purple text-better-teal"
  id="imagine"
>
<div class="w-full md:w-2/3 m-auto flex flex-wrap">
  <div class="w-full md:w-1/2 p-8">
    <h1 class="text-left text-4xl font-black">Imagine a platform where...<br /></h1>
    <h1
      class="text-left text-base md:text-2xl font-black p-1 h-12"
      x-init="
      typewriter = new Typewriter($el, {
        strings: [
          'you don\'t have to worry about trolls',
          'you can resolve disputes respectfully',
          'you have a say in how it works',
          'the algorithm doesn\'t determine your experience',
          'you own and control your personal data',
        ].map(x => [Math.random(), x]).sort(([a], [b]) => a - b).map(([_, x]) => x),
        loop: true,
        delay: 40,
        autoStart: true,
        pauseFor: 1000,
      });"
    >
      |
    </h1>
  </div>


  <div class="w-full md:w-1/2 -mt-4 md:mt-0 sm:mt-0">
    <img
      src="/static/img/imagine.webp"
      alt="Cute little yellow bird that has big plans for organizing"
    />
  </div>
</div>
</div>
