<div
  class="w-screen h-2/4 p-4 flex flex-row bg-better-blue text-black m-auto"
  id="discuss">

  <div class="w-full md:w-2/3 m-auto flex flex-wrap">
    <div class="text-center md:w-1/2 p-8" x-data="{text:''}">
      <h1 class="text-4xl font-black" id="imagine-label">
        What do you imagine?
      </h1>
      <input
        class="text-center text-black-100 bg-transparent border-b-2 rounded-none focus:outline-none border-black w-full md:w-2/3 my-2 py-2"
        x-on:input.debounce.500="text=`I imagine ${$el.value}`"
        x-intersect="$el.focus()"
        aria-labelledby="imagine-label"
      />

      <div class="bg-black text-better-blue py-2 my-2 w-2/3 m-auto text-center">
        <a
          x-bind:href="`https://twitter.com/intent/tweet/?text=${encodeURIComponent(text)}&via=betterplatform_`"
          target="_blank"
          class="block w-1/2 rounded-none m-auto"
          >tweet it</a
        >
      </div>
    </div>

    <div class="w-full md:w-1/2 -mt-4 md:mt-0 sm:mt-0">
      <img
        class="max-h-80 m-auto"
        src="/static/img/bird3.webp"
        alt="Green tropical bird on a branch that wants to help you tweet your imagination"
      />
    </div>
  </div>
</div>
