<div class="full-screen p-8 md:p-16 flex-col bg-better-teal text-better-purple" id="join">
  <div class="w-full mb-24">
    <h2 class="uppercase text-center mb-4">Join us</h2>
    <h1 class="text-5xl">
      We can make it better! Let's.
    </h1>
  </div>

  <div class="md:w-2/3 text-center space-y-4 mb-12">
    <div class="p-2 border-2 border-better-purple flex flex-row justify-between">
      <div class="text-left">
        Phase 1:<br />
        Gather user input
      </div>
      <img src="/static/img/bird4.png" class="max-h-12" />
    </div>
    <div class="p-2">
      <div class="text-left">
        Phase 2:<br />
        Form assemblies to write new rules
      </div>
    </div>
    <div class="p-2">
      <div class="text-left">
        Phase 3:<br />
        Invite users to a new community
      </div>
    </div>
  </div>

  <div class="md:w-2/3 bg-better-purple text-better-teal py-3 px-3 flex flex-row justify-between">
    <div class="uppercase self-center p-4">This is what you should focus on today</div>
    <a href="" class="bg-strong-yellow text-better-purple p-4 font-bold text-center">Take the Survey</a>
  </div>
</div>