<div class="full-screen flex-row bg-better-red text-better-yellow">
  <div class="w-1/2">
      birds
  </div>
  
  <div class="w-1/2">
    <h2>About</h2>
    <h1 class="text-left text-5xl">
        Collectives do it better.
    </h1>

    <p class="font-bold">
      We're a global group of users, shareholders,
      and workers who successfully brought a
      proposal to a vote in 2017 that urged Twitter,
      Inc. to study broad-based ownership &amp;
      accountability, like a co-op. People asked:
      &ldquo;Nice idea, but what would that look like?&rdquo;<br />
      This is our answer.
    </p>
  </div>  
</div>