<div class="full-screen p-8 md:p-16 flex-row bg-better-red text-better-yellow">
  <div class="md:w-1/2">
    <img
      src="/static/img/bird-collage002.webp"
      alt="A collage of different birds who want to form a collective"
    />
  </div>

  <div class="md:w-1/2 py-4 md:p-8">
    <h1 class="text-left text-5xl">
      We believe
    </h1>

    <p class="font-bold md:w-5/6">
      We're a global group of users, shareholders, and workers who successfully
      brought a proposal to a vote in 2017 that urged Twitter, Inc. to study
      broad-based ownership &amp; accountability, like a co-op. People asked:
      &ldquo;Nice idea, but what would that look like?&rdquo;
      Now, we invite you to imagine a better platform where we decide, together.
    </p>
  </div>
</div>
