<div class="full-screen flex-row bg-better-yellow text-better-red">
    <div class="w-1/2">
      <h1 class="text-left text-5xl">
        Better late than never.
      </h1>
      <form class="flex flex-col space-evenly">
        <input type="text" class="border-2 border-better-red bg-better-yellow text-better-red" placeholder="Twitter ID" />
        <input type="email" class="border-2 border-better-red bg-better-yellow text-better-red" placeholder="Email" />
        <button type="submit" class="text-better-yellow bg-better-red">Follow Along</button>
      </form>
    </div>
  
    <div class="w-1/2">
      bird
    </div>
  </div>