<div class="full-screen p-8 md:p-16 flex-row bg-better-yellow text-better-red">
    <div class="w-2/3 m-auto flex flex-wrap">
    <div class="md:w-1/2 px-18">
      <h1 class="text-left text-5xl font-black">
        Get News and Updates
      </h1>

      <script src="https://actionnetwork.org/widgets/v5/form/get-a-better-user-experience-on-twitter-and-other-platforms?format=js&source=widget"></script>
      <div
        id="can-form-area-get-a-better-user-experience-on-twitter-and-other-platforms"
        class="md:w-3/4"
      >
        <!-- action network inserts form here -->
      </div>
    </div>
    <div class="md:w-1/2 text-center m-auto">
      <img class="m-auto"
        src="/static/img/believe.webp"
        alt="That same cute little yellow bird from before, now asking once again for your support"
      />
    </div>
  </div>
</div>
