---
layout: default
title: BetterPlatform.Club
path: home
---

<div class="w-full min-h-screen flex flex-col items-center">
  {% include "./_includes/sections/1-what-if.html" %}
  {% include "./_includes/sections/2-imagine.html" %}
  {% include "./_includes/sections/3-what-do-you.html" %}
  {% include "./_includes/sections/4-join-us.html" %}
  {% include "./_includes/sections/5-about-us.html" %}
  {% include "./_includes/sections/6-go-outside.html" %}
  {% include "./_includes/sections/7-sign-up.html" %}
</div>