<div class="w-screen bg-better-purple">
  <nav
    class="flex items-center justify-center lg:justify-between flex-wrap p-6 lg:px-0 container mx-auto"
    x-data="{ isOpen: false }"
    @keydown.escape="isOpen = false"
    @click.away="isOpen = false"
  >
    <!--Logo etc-->
    <div class="flex items-center">
      <a
        href="https://twitter.com/betterplatform_"
        class="text-better-teal font-bold text-lg"
      >
        @BetterPlatform_</a
      >
    </div>

    <!--Toggle button (hidden on large screens)-->
    <button
      @click="isOpen = !isOpen"
      type="button"
      class="ml-auto block lg:hidden px-2 text-primary-500 hover:text-primary-500 focus:outline-none focus:text-primary-500"
      :class="{ 'transition transform-180': isOpen }"
      aria-label="Menu"
    >
      {% svg '/static/twemoji/parrot_1f99c.svg' %}
    </button>

    <!--Menu-->
    <div
      class="w-full flex-grow lg:flex lg:items-center lg:w-auto text-center font-bold"
      :class="{ 'block shadow-3xl': isOpen, 'hidden': !isOpen }"
      x-show.transition="true"
    >
      {% if navigation.items %}

      <ul
        class="pt-6 lg:pt-0 list-reset lg:flex justify-end flex-1 items-center"
      >
        {% for item in navigation.items %}
        <li class="nav__item mr-3">
          <a
            @click.prevent="$scroll(document.querySelector('{{item.url}}').offsetTop); isOpen = false;"
            class="text-ml text-better-teal no-underline hover:text-indigo-500 py-2 px-4"
            href="{{ item.url }}"
          >
            <span aria-hidden="true" class="inline-block w-5 mr-2 mt-1">{% svg item.icon %}</span>
            {{ item.text }}
          </a>
        </li>
        {% endfor %}
      </ul>

      {% endif %}
    </div>
  </nav>
</div>
